
body {  }
.dsh_quick_btn {
  min-width: 140px;
}
.m_product_col { min-width: 50%; }
.m_product_col { margin-right: 20px; }
.m_product_col .q-img__image {
    border: 1px solid #eee;
    border-radius: 10px;
}

.q-tab__label { font-weight: 800; }